---
import Layout from "@layouts/layout.astro";
import Container from "@components/container.astro";
import Header from "@components/header.astro";
import Footer from "@components/footer.astro";
import Title from "@components/title.astro";
import { Image } from "astro:assets";
import thumbnail from "@assets/about-thumbnail.png";
---

<Layout>
  <Header />
  <Container>
    <Title title="About" />
    <Image src={thumbnail} alt="緑と青のグラデーション" class="thumbnail" />

    <div class="textarea">
      <p>
        親譲おやゆずりの無鉄砲むてっぽうで小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰こしを抜ぬかした事がある。なぜそんな無闇むやみをしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談じょうだんに、いくら威張いばっても、そこから飛び降りる事は出来まい。
      </p>
      <p>
        弱虫やーい。と囃はやしたからである。小使こづかいに負ぶさって帰って来た時、おやじが大きな眼めをして二階ぐらいから飛び降りて腰を抜かす奴やつがあるかと云いったから、この次は抜かさずに飛んで見せますと答えた。
      </p>
      <p>
        親類のものから西洋製のナイフを貰もらって奇麗きれいな刃はを日に翳かざして、友達ともだちに見せていたら、一人が光る事は光るが切れそうもないと云った。切れぬ事があるか、何でも切ってみせると受け合った。そんなら君の指を切ってみろと注文したから、何だ指ぐらいこの通りだと右の手の親指の甲こうをはすに切り込こんだ。幸さいわいナイフが小さいのと、親指の骨が堅かたかったので、今だに親指は手に付いている。しかし創痕きずあとは死ぬまで消えぬ。
      </p>
    </div>
  </Container>
  <Footer />
</Layout>

<style lang="scss">
  @use "@styles/scss/style.scss" as g;
  .textarea {
    font-family: var(--font-family-ja);
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 32px;
  }
  .thumbnail {
    border-radius: 8px;
  }
</style>
