---
import Layout from "@layouts/layout.astro";
import Container from "@components/container.astro";
import Header from "@components/header.astro";
import Footer from "@components/footer.astro";
---

<Layout>
  <Header />
  <Container>
    <h1>Thank you!</h1>
  </Container>
  <Footer />
</Layout>
