<footer class="footer">
  <nav class="footer-nav">
    <ul class="footer-list">
      <li class="list-item"><a href="/about">About</a></li>
      <li class="list-item"><a href="/news">News</a></li>
      <li class="list-item"><a href="/blog">Blog</a></li>
      <li class="list-item"><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</footer>

<style lang="scss">
  @use "@styles/scss/style.scss" as g;

  .footer {
    background-color: var(--color-bg-secondary);
  }

  .footer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 780px;
    margin: 0 auto;
    gap: 24px;
    height: 80px;
  }
  .list-item {
    color: #fff;
  }
</style>
