---
import Logo from "@assets/logo.svg";
import { Image } from "astro:assets";
---

<header class="header">
  <h1 class="logo">
    <a href="/">
      <Image src={Logo} alt="地球儀のロゴ" class="header-logo" />
      Blog
    </a>
  </h1>

  <nav>
    <ul class="header-list">
      <li class="list-item"><a href="/about">About</a></li>
      <li class="list-item"><a href="/news">News</a></li>
      <li class="list-item"><a href="/blog">Blog</a></li>
      <li class="list-item"><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>

<style lang="scss">
  @use "@styles/scss/style.scss" as g;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 780px;
    margin: 0 auto;
    padding-top: 80px;
  }
  .header-logo {
    width: 35px;
    aspect-ratio: 1;
    margin-right: 0.5rem;
    fill: black;
  }

  .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
  }

  .logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .header-list {
    display: flex;
    gap: 4px;
  }

  .list-item {
    margin-right: 1rem;
  }

  .list-item a {
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.02em;
    font-size: 16px;
  }
</style>
